#container2{
  display: grid;
  grid-template-columns: auto auto;
}
#copyrigth{
  position: absolute;
  bottom: 0;
  left: 800px;
}
p{
  display:flex;
  justify-content: center;
}
.centro{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
  #container {
    display: grid;
    grid-gap: 0px;
    margin-left: 5%;
    margin-right: 5%;
    height: 500px;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
    border-color: black;
    border-style: solid;
  }
  .grid-item {
    width: auto;
    height: auto;
    border-color: blue;
  }

  .grid-item:hover{
    background-color: blue;
  }
  .grid-item-blue{
    background-color: blue;
  }
  .div-button{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  }